.account{
    img{
        width: 30px;
        height: 30px;
        filter: invert(0%) sepia(97%) saturate(7447%) hue-rotate(30deg) brightness(87%) contrast(100%);
    }
}
ion-list{
    border-radius:10px ;
}